.search_adjust{
  margin-top: 0px !important;
}

.noDisplay{
  display: none !important;
}

.picker-calendar-day.picker-calendar-day-has-events span:after {
    background: #666666 !important;
}

.rectangle{
	width: 5px;
	height: 20px;
  display: inline-block;
}
.rectangle-store{
  background: #C0392B;
}
.rectangle-personal{
  background: #34495E;
}
.rectangle-holiday{
  background: #F1C40F;
}

.events-adjust{
  text-align: center;
  margin-top: -20px;
}

.calendar-adjust{
  text-align: center;
  margin-top: 5px;
}

.events-span{
  vertical-align: 25%;
  padding-left: 20px;
}

.eventlist-adjust{
  margin-top: 10px !important;
}

.border-personal{
  border-left: solid 10px #34495E;
  border-radius: 2px 0 0 2px;
}
.border-store{
  border-left: solid 10px #C0392B;
  border-radius: 2px 0 0 2px;
}
.border-holiday{
  border-left: solid 10px #F1C40F;
  border-radius: 2px 0 0 2px;
}
