<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a>
    </div>
    <div class="center sliding">Loja</div>
    <div class="right">
      <a href="#" id="editStore" class="link" style="display: none"> <i class="f7-icons">compose_fill</i></a>
      <a href="#" id="calendarLink" class="link"> <i class="f7-icons">today</i></a>
    </div>
  </div>
</div>


<div data-page="addStore" class="page">
  <div class="page-content">
    <div class="content-block search_adjust">
      <div class="row">
        <div class="col-100" style="text-align:center"><h2 id="itemName"></h2></div>
      </div>
      <div class="row" id='divAddressNumber'>
        <div class="col-100"><p id="itemAddressNumber"/></div>
      </div>
      <div class="row" id='divCEP'>
        <div class="col-40"><p id="div2A"></p></div>
        <div class="col-60"><p id="div2B"></p></div>
      </div>
      <div class="row" id='divVeneravel'>
        <div class="col-100"><p id="itemVeneravelFull"/></div>
      </div>
      <div class="row" id='divEmail'>
        <div class="col-100"><p id="itemEmailFull"/></div>
      </div>
      <div class="row" id='divPhones'>
        <div class="col-50"><p id="div5A"></p></div>
        <div class="col-50"><p id="div5B"></p></div>
      </div>
      <div class="row" id='divMobile'>
        <div class="col-100"><p id="itemMobileFull"/></div>
      </div>
      <div class="row" id='divRITO'>
        <div class="col-100"><p id="itemRitoFull"/></div>
      </div>
      <div class="row" id='divDate'>
        <div class="col-100"><p id="itemDate"></p></div>
      </div>

    </div>
  </div>
</div>
