<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Novo Evento</div>
  </div>
</div>

<div data-page="createEvent" class="page">
  <div class="page-content">
    <form id="createEvent-form" class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Nome</div>
                <div class="item-input">
                  <input type="text" name="name" id="eventName"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Data</div>
                <div class="item-input">
                  <input type="date" name="date" id="eventDate"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Hora</div>
                <div class="item-input">
                  <input type="text" name="hour" id="eventHour"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Tipo de Evento</div>
                <div class="item-input">
                  <select name="type" id="eventType">
                    <option>Pessoal</option>
                    <option>Loja</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Descrição</div>
                <div class="item-input">
                  <textarea name="description" id="eventDesc"></textarea>
                </div>
              </div>
            </div>
          </li>
        </ul>
      <div class="list-block">
        <ul class="list-block-label">
          <p><a href="#" id="createEvent" class="button button-round active">Salvar</a></p>
        </ul>
      </div>
    </form>
  </div>
</div>
