<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link" id="settings"> <i class="f7-icons">gear_fill</i></a>
        </div>
        <div class="center">Agenda</div>
        <div class="right">
            <a href="#" class="link back" id="logout"> <i class="f7-icons">logout_fill</i></a>
        </div>
    </div>
</div>

<div data-page="dashboard" class="page">
    <!-- Bottom Tabbar-->
    <div id="bottomtabbar" class="toolbar tabbar tabbar-labels">
        <div class="toolbar-inner">
            <a href="#tab-1" class="tab-link active">
                <i class="f7-icons">today</i>
                <span class="tabbar-label">Calendario</span>
            </a>
            <a href="#tab-2" class="tab-link">
                <i class="f7-icons">list</i>
                <span class="tabbar-label">Lojas</span>
            </a>
            <a href="#tab-3" class="tab-link">
                <i class="f7-icons">person</i>
                <span class="tabbar-label">Perfil</span>
            </a>
        </div>
    </div>

    <!-- Tabs -->
    <div class="page-content tabs">
        <!-- Calendário -->
        <div id="tab-1" class="tab active">
            <div class="content-block-title">Calendário</div>
            <div class="content-block">
                <div style="padding:0; margin-right:-15px; width:auto" class="content-block-inner">
                    <div id="calendar-inline-container"></div>
                </div>
            </div>
            <div class="content-block-title events-adjust">Eventos</div>
            <div class="row" style="padding: 0px 20px 0px 20px;">
                <div class="col-33" style="text-align: center;">
                    <div class="rectangle rectangle-store"></div><span class="events-span">Loja</span></div>
                <div class="col-33" style="text-align: center;">
                    <div class="rectangle rectangle-personal"></div><span class="events-span">Pessoal</span></div>
                <div class="col-33" style="text-align: center;">
                    <div class="rectangle rectangle-holiday"></div><span class="events-span">Feriado</span></div>
            </div>
            <div class="list-block  media-list eventlist-adjust">
                <ul id="lista-eventos"></ul>
            </div>
        </div>
        <!-- Lojas -->
        <div id="tab-2" class="tab">
            <!-- Search Bar -->
            <form class="searchbar">
                <div class="searchbar-input">
                    <input type="search" placeholder="Search">
                    <a href="#" class="searchbar-clear"></a>
                </div>
                <a href="#" class="searchbar-cancel">Cancel</a>
            </form>
            <!-- Search Bar overlay-->
            <div class="searchbar-overlay"></div>
            <div class="list-block media-list list-block-search searchbar-found search_adjust">
                <ul id="lista-loja"></ul>
            </div>
        </div>
        <!-- Perfil -->
        <div id="tab-3" class="tab">
            <div class="content-block search_adjust">
                <form class="">
                    <div class="row">
                        <div class="col-100" style="text-align:center">
                            <h3 id="userName"></h3></div>
                    </div>
                    <div class="row">
                        <div class="col-100" style="text-align:center">
                            <h4 id="userPosition"></h4></div>
                    </div>
                    <div class="row">
                        <div class="col-100">
                            <p id="userEmailFull"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-70">
                            <p id="userPhoneFull" />
                        </div>
                        <div class="col-30">
                            <p id="userCimFull" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100">
                            <p id="userBirthFull"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100">
                            <p id="userProfession"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100" style="text-align:center">
                            <h4>Lojas Cadastradas</h4></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>