<!-- Top Navbar-->
	<div class="navbar">
	  <div class="navbar-inner">
		<div class="center sliding">Dashboard</div>
		<div class="right">
			<a href="#" class="open-panel link icon-only"><i class="ion ion-navicon"></i></a>
		</div>
	  </div>
	</div>


<div class="pages">
  <div data-page="dashboard" class="page">

		<!-- Bottom Tabbar-->
		<div id="bottomtabbar" class="toolbar tabbar tabbar-labels">
			<div class="toolbar-inner">
				<a href="#tab-1" class="tab-link active">
					<i class="f7-icons">today</i>
					<span class="tabbar-label">Calendario</span>
				</a>
				<a href="#tab-2" class="tab-link">
					<i class="f7-icons">list</i>
					<span class="tabbar-label">Lojas</span>
				</a>
				<a href="#tab-3" class="tab-link">
					<i class="f7-icons">help_fill</i>
					<span class="tabbar-label">Sandras</span>
				</a>
				<a href="#tab-4" class="tab-link">
					<i class="f7-icons">document_text_fill</i>
					<span class="tabbar-label">Perfil</span>
				</a>
			</div>
		</div>

		<!-- Tabs -->
		<div class="tabs-swipeable-wrap">
			<div class="tabs ">
				<!-- Calendario -->
				<div id="tab-1" class="page-content tab infinite-scroll active">
					<div class="content-block-title">Dados da conta</div>
				</div>

				<!-- Lojas -->
				<div id="tab-2" class="page-content tab">
					<div class="content-block-title">Dados da conta</div>
				</div>

				<!-- Sandras -->
				<div id="tab-3" class="page-content tab">
					<div class="content-block-title">Dados da conta</div>
				</div>

				<!-- Perfil -->
				<div id="tab-4" class="page-content tab">
					<div class="content-block-title">Dados da conta</div>
					<div class="list-block">
					  <ul>
						<!-- Nome do time -->
						<li>
						  <div class="item-content">
							<div class="item-media"><i class="icon icon-form-name"></i></div>
							<div class="item-inner">
							  <div class="item-title label">Time</div>
							  <div class="item-input">
								<input id="input-time" type="text" placeholder="Time" value="Carregando..." disabled>
							  </div>
							</div>
						  </div>
						</li>
						<!-- Responsavel -->
						<li>
						  <div class="item-content">
							<div class="item-media"><i class="icon icon-form-name"></i></div>
							<div class="item-inner">
							  <div class="item-title label">Respons&aacute;vel</div>
							  <div class="item-input">
								<input id="input-responsavel" type="text" placeholder="Time" value="Carregando..." disabled>
							  </div>
							</div>
						  </div>
						</li>
						<!-- Text inputs -->
						<li>
						  <div class="item-content">
							<div class="item-media"><i class="icon icon-form-email"></i></div>
							<div class="item-inner">
							  <div class="item-title label">E-mail</div>
							  <div class="item-input">
								<input id="input-email" type="email" placeholder="E-mail" value="Carregando..." disabled>
							  </div>
							</div>
						  </div>
						</li>
					  </ul>
					</div>
					<div class="content-block">
						<div class="row">
							<div class="col-50">
								<a href="views/about.html" class="button button-big">
									Sobre
								</a>
							</div>
							<div class="col-50">
								<a id="partiu" href="#" class="button button-big button-fill color-red">
									Desconectar
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

  </div>
</div>
