<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Editar Loja</div>
  </div>
</div>

<div data-page="editStore" class="page">
  <div class="page-content">
    <form id="editStore-form" class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Nome</div>
                <div class="item-input">
                  <input type="text" name="name" id="editName"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Data Fundação</div>
                <div class="item-input">
                  <input type="date" name="fundation" id="editFundation"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Venerável</div>
                <div class="item-input">
                  <input type="text" name="veneravel" id="editVeneravel"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Email</div>
                <div class="item-input">
                  <input type="email" name="email" id="editEmail"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Telefone</div>
                <div class="item-input">
                  <input type="text" name="phone" id="editPhone"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Celular</div>
                <div class="item-input">
                  <input type="text" name="mobile" id="editMobile"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">CML</div>
                <div class="item-input">
                  <input type="text" name="cml" id="editCml"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Endereço</div>
                <div class="item-input">
                  <input type="text" name="address" id="editAddress"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Número</div>
                <div class="item-input">
                    <input type="number" name="number" id="editNumber"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">CEP</div>
                <div class="item-input">
                    <input type="text" name="cep" id="editCep"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Estado</div>
                <div class="item-input">
                  <select name="uf" id="editUf">
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Cidade</div>
                <div class="item-input">
                  <input type="text" name="city" id="editCity"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">RITO</div>
                <div class="item-input">
                  <input type="text" name="rito" id="editRito"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Dia</div>
                <div class="item-input">
                  <select name="day" id="editDay">
                    <option value="Segunda-Feira">Segunda-Feira</option>
                    <option value="Terça-Feira">Terça-Feira</option>
                    <option value="Querta-Feira">Quarta-Feira</option>
                    <option value="Quinta-Feira">Quinta-Feira</option>
                    <option value="Sexta-Feira">Sexta-Feira</option>
                    <option value="Sábado">Sábado</option>
                    <option value="Domingo">Domingo</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Frequência</div>
                <div class="item-input">
                  <select type="text" name="week" id="editWeek">
                    <option value="">Sem rito</option>
                    <option value="0">Todas as semanas</option>
                    <option value="1">Apenas na primeira semana</option>
                    <option value="2">Apenas na segunda semana</option>
                    <option value="3">Apenas na terceira semana</option>
                    <option value="4">Apenas na última semana</option>
                    <option value="1,2">Na primeira e na segunda semana</option>
                    <option value="1,3">Na primeira e na terceira semana</option>
                    <option value="2,3">Na segunda e na terceira semana</option>
                    <option value="-1">Exceto na primeira semana</option>
                    <option value="-4">Exceto na última semana</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Hora</div>
                <div class="item-input">
                  <input type="text" name="hour" id="editHour"/>
                </div>
              </div>
            </div>
          </li>
        </ul>
      <div class="list-block">
        <ul class="list-block-label">
          <p><a href="#" id="updateStore" class="button button-round active">Salvar</a></p>
        </ul>
      </div>
    </form>
  </div>
</div>
