<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">Editar Senha</div>
  </div>
</div>

<div data-page="editPassword" class="page">
  <div class="page-content">
    <form id="editPassword-form" class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Nova Senha</div>
                <div class="item-input">
                  <input type="password" name="password" id="inputPassword"/>
                </div>
              </div>
            </div>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">Repita a Senha</div>
                <div class="item-input">
                  <input type="password" name="passwordRepeat" id="inputPasswordRepeat"/>
                </div>
              </div>
            </div>
          </li>
        </ul>
      <div class="list-block">
        <ul class="list-block-label">
          <p><a href="#" id="btnUpdatePassword" class="button button-round active">Atualizar</a></p>
        </ul>
      </div>
    </form>
  </div>
</div>
