<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a>
    </div>
    <div class="center sliding">Evento</div>
    <div class="right">
      <a href="#" id="editEvent" class="link"> <i class="f7-icons">compose_fill</i></a>
      <a href="#" id="deleteEvent" class="link"> <i class="f7-icons">delete_round</i></a>
    </div>
  </div>
</div>


<div data-page="event" class="page">
  <div class="page-content">
    <p id="itemTitle"></p>
    <p id="itemId"></p>
    <p id="itemHour"></p>
    <p id="itemDate"></p>
    <p id="itemDescription"></p>
    <p id="itemStore"></p>
    <p id="itemIdStore"></p>
    <p id="itemRito"></p>
    <p id="itemUser"></p>
  </div>
</div>
