<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a>
    </div>
    <div class="center sliding">Evento</div>
    <div class="right">
      <a href="#" id="editEvent" class="link"> <i class="f7-icons">compose_fill</i></a>
      <a href="#" id="deleteEvent" class="link"> <i class="f7-icons">delete_round</i></a>
    </div>
  </div>
</div>


<div data-page="event" class="page">
  <div class="page-content">
    <div class="content-block">
      <div class="row">
        <div class="col-100" style="text-align:center"><h2 id="itemTitle"></h2></div>
      </div>
      <div class="row">
        <div class="col-100"><p id="itemFullDay"/></div>
      </div>
      <div class="row">
        <div class="col-100"><p id="itemFullHour"></p></div>
      </div>
      <div class="row" id="divA">
        <div class="col-100"><p id="itemA"/></div>
      </div>
      <div class="row" id="divB">
        <div class="col-100"><p id="itemB"/></div>
      </div>
      <div class="row" id='divC'>
        <div class="col-100"><p id="itemC"/></div>
      </div>
    </div>
  </div>
</div>
